.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
}

.posts-list {
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.post-item {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-item:last-child {
  border-bottom: none;
}

.read-all {
  text-align: center;
  margin: 32px 0;
}
