@import "base/themes.css";
@import "base/global.css";

@import "layout/grid.css";
@import "layout/header.css";
@import "layout/footer.css";

@import "components/navigation.css";
@import "components/buttons.css";
@import "components/code.css";
@import "components/theme-toggle.css";

@import "pages/home.css";
@import "pages/post.css";
@import "pages/404.css";

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
  .greeting {
    font-size: 32px;
  }
  .container {
    padding: 16px;
  }
}

@media print {
  body {
    color: black;
    background: white;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  .site-header,
  .read-all,
  .site-footer {
    display: none;
  }
}
